body {

    margin: 0;
    padding: 0;

}

header {
    background-color: rgb(24, 229, 106);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    color: #fff;
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}





 

      